{% extends 'header_footer.html' %}
{% load static %}
{% load i18n %}

{% block 'content' %}


<div class="container" style="margin-top: 10%;background-color: #e9ecef">
  <a  data-toggle="collapse" data-target="#demo"><h3><span>Q.   </span>How soon will my booking reach me?</h3></a>

  <div id="demo" class="collapse">
    <h4 style="margin-left: 5%"><span>Ans.   </span>Depending on your booking, your order should reach you within 7 working days.</h4>
  </div>
</div>

<div class="container" style="margin-top:3%;background-color: #e9ecef">
  <a  data-toggle="collapse" data-target="#demo1"><h3><span>Q.   </span>Is there an additional cost for Booking?</h3></a>

  <div id="demo1" class="collapse">
    <h4 style="margin-left: 5%"><span>Ans.   </span>No, we provide free booking on all domestic book club23.</h4>
  </div>
</div>

<div class="container" style="margin-top:3%;background-color: #e9ecef">
  <a  data-toggle="collapse" data-target="#demo2"><h3><span>Q.   </span>What is the security deposit?</h3></a>

  <div id="demo2" class="collapse">
    <h4 style="margin-left: 5%"><span>Ans.   </span>Every time you reserve an club book you will be asked to pay a security deposit that is equal to the booking price of your booking. For example, if your booking costs ₹5,000, we will add a security deposit of ₹5,000 to your bill, making the total ₹10,000. Since all our garments are authentic person pieces, the security deposit is just standard protocol and serves as an insure servant for our club whilst they are with you.</h4>
  </div>
</div>

<div class="container" style="margin-top:3%;background-color: #e9ecef">
  <a  data-toggle="collapse" data-target="#demo3"><h3><span>Q.   </span>What is a sport club?</h3></a>

  <div id="demo3" class="collapse">
    <h4 style="margin-left: 5%"><span>Ans.   </span>A Sport Club is a student-led organization established through the Department of Campus Recreation. Sport Clubs are designed to serve currently enrolled students that have an interest in committing to an organized sport or recreational activity at SOU. Sport Clubs can be competitive, recreational, or instructional in nature. However, most SOU Sport Clubs are competitive and represent Southern Oregon University in intercollegiate competition. Sport Clubs teams regularly participate in scheduled practices and many compete against other schools across Oregon, the Pacific Northwest and the nation. All student organizations are state agencies and must follow appropriate University and state policies and directives.  The Team Sports Coordinator and Campus Recreation will make decisions on whether a group meets the criteria to be a sport club.</h4>
  </div>
</div>


<div class="container" style="margin-top:3%;margin-bottom:3%;background-color: #e9ecef">
  <a  data-toggle="collapse" data-target="#demo4"><h3><span>Q.   </span>Sport Club member expectations?</h3></a>

  <div id="demo4" class="collapse">
    <h4 style="margin-left: 5%"><span>Ans.   </span>Prior to ANY participation, each sport club participant must complete the Sport Club Membership Form through SOU Connect which includes an Assumption of Risk form and health insurance information. Clubs and participating members must adhere to SOU and Campus Recreation Sport Clubs policies, procedures, expectations, and code of conduct. Members must adhere to their Sport Clubs own constitution and bylaws. The SOU Student Code of Conduct and SOU Sport Club Handbook must always be upheld.</h4>
  </div>
</div>

{% endblock %}