{% extends 'header_footer.html' %}
{% load static %}
{% load i18n %}

{% block 'content' %}
        <!--// Banner //-->
        <div class="ritekhela-banner-one">

            <div class="ritekhela-banner-one-layer">
                <span class="ritekhela-banner-transparent"></span>
                <img style="width:100%;height:600px" src="{% static 'extra-images/main2.jpg' %}" alt="">
                <div class="ritekhela-banner-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Celebrate <strong class="ritekhela-color">Your Life, </strong> With Us ..</h1>
                                <div class="clearfix"></div>
                                <h1>We Are <strong class="ritekhela-color">@Club23 </strong>...</h1>
                                <center>
                                    <a href="{% url 'Club:bookclub' %}">
                                        <div style="width:250px; height:60px; border:1px solid white; border-radius:10px; margin-top:4%;">
                                            <p style="color:white; font-size:35px;">Book Club</p>
                                        </div>
                                    </a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ritekhela-banner-one-layer">
                <span class="ritekhela-banner-transparent"></span>
                <img style="width:100%;height:600px" src="{% static 'extra-images/main.jpeg' %}" alt="">
                <div class="ritekhela-banner-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Celebrate <strong class="ritekhela-color">Your Life, </strong> With Us ..</h1>
                                <div class="clearfix"></div>
                                <h1>We Are <strong class="ritekhela-color">@Club23 </strong>...</h1>
                                <center>
                                    <a href="{% url 'Club:bookclub' %}">
                                        <div style="width:250px; height:60px; border:1px solid white; border-radius:10px; margin-top:4%;">
                                            <p style="color:white; font-size:35px;">Book Club</p>
                                        </div>
                                    </a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--// Banner //-->

        <!--// Content //-->
        <div class="ritekhela-main-content">

            <!--// Main Section //-->
            <div class="ritekhela-main-section ritekhela-fixture-slider-full">
                <div class="container">
                    <div class="row">

                            <!--// Fancy Title Two //-->
                            <div class="ritekhela-fancy-title-two">
                                <h2>Club23 Panel</h2>
                            </div>
                            <!--// Fancy Title Two //-->

                            <!--// Player //-->
                            <div class="ritekhela-team ritekhela-team-view1">
                                <ul class="row">
                                    <li class="col-md-4">
                                        <figure>
                                            <a href="#"><img src="{% static 'extra-images/person.jpg' %}" alt=""></a>
                                            <figcaption>
                                                <a href="#" class="fab fa-facebook-f"></a>
                                                <a href="#" class="fab fa-twitter"></a>
                                                <a href="#" class="fab fa-instagram"></a>
                                                <a href="#" class="fab fa-linkedin"></a>
                                            </figcaption>
                                        </figure>
                                        <div class="ritekhela-team-view1-text">
                                            <h2><a href="#">Sahil</a></h2>
                                            <span>Founder</span>
                                            <p>Lorem ipsum dolor sit met, con etur adipiscing elit. Ut c males ante.</p>
                                            <!--<a href="#" class="ritekhela-team-view1-btn">Read More <i class="fa fa-angle-right"></i></a>-->
                                        </div>
                                    </li>
                                    <li class="col-md-4">
                                        <figure>
                                            <a href="#"><img src="{% static 'extra-images/person.jpg' %}" alt=""></a>
                                            <figcaption>
                                                <a href="#" class="fab fa-facebook-f"></a>
                                                <a href="#" class="fab fa-twitter"></a>
                                                <a href="#" class="fab fa-instagram"></a>
                                                <a href="#" class="fab fa-linkedin"></a>
                                            </figcaption>
                                        </figure>
                                        <div class="ritekhela-team-view1-text">
                                            <h2><a href="#">Zeel</a></h2>
                                            <span>Co-founder</span>
                                            <p>Lorem ipsum dolor sit met, con etur adipiscing elit. Ut c males ante.</p>
                                            <!--<a href="#" class="ritekhela-team-view1-btn">Read More <i class="fa fa-angle-right"></i></a>-->
                                        </div>
                                    </li>
                                    <li class="col-md-4">
                                        <figure>
                                            <a href="#"><img src="{% static 'extra-images/person.jpg' %}" alt=""></a>
                                            <figcaption>
                                                <a href="#" class="fab fa-facebook-f"></a>
                                                <a href="#" class="fab fa-twitter"></a>
                                                <a href="#" class="fab fa-instagram"></a>
                                                <a href="#" class="fab fa-linkedin"></a>
                                            </figcaption>
                                        </figure>
                                        <div class="ritekhela-team-view1-text">
                                            <h2><a href="#">Shivani</a></h2>
                                            <span>Co-founder</span>
                                            <p>Lorem ipsum dolor sit met, con etur adipiscing elit. Ut c males ante.</p>
                                           <!-- <a href="#" class="ritekhela-team-view1-btn">Read More <i class="fa fa-angle-right"></i></a>-->
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--// Player //-->



                        <!--// Left Section //-->
                        <div class="col-md-8">

                            <!--// Fancy Title Two //-->
                            <div class="ritekhela-fancy-title-two">
                                <h2>Latest News</h2>
                            </div>
                            <!--// Fancy Title Two //-->

                            <div class="ritekhela-blogs ritekhela-blog-view2">
                                <ul class="row">
                                    <li class="col-md-6">
                                        <figure style="width:160px; height:85px;"><a href="{% url 'Club:birthdate' %}"><img  src="{% static 'extra-images/birthdate.jpg' %}" alt=""></a></figure>
                                        <div class="ritekhela-blog-view2-text">
                                            <h2>Birthday Celibration</h2>
                                            <time datetime="2008-02-14 20:00">July 01, 2019 5:50 am</time>
                                        </div>
                                    </li>
                                    <li class="col-md-6">
                                        <figure style="width:160px; height:85px;"><a href="{% url 'Club:wedding' %}"><img src="{% static 'extra-images/wedding.jpg' %}" alt=""></a></figure>
                                        <div class="ritekhela-blog-view2-text">
                                            <h2>Wedding Celibration</h2>
                                            <time datetime="2008-02-14 20:00">June 01, 2019 6:20 am</time>
                                        </div>
                                    </li>
                                    <li class="col-md-6">
                                        <figure style="width:160px; height:85px;"><a href="{% url 'Club:marriage' %}"><img src="{% static 'extra-images/marriage.jpg' %}" alt=""></a></figure>
                                        <div class="ritekhela-blog-view2-text">
                                            <h2>Marriage Celibration</h2>
                                            <time datetime="2008-02-14 20:00">March 01, 2019 2:40 am</time>
                                        </div>
                                    </li>
                                    <li class="col-md-6">
                                        <figure style="width:160px; height:85px;"><a href="{% url 'Club:farewell' %}"><img src="{% static 'extra-images/farewell.jpg' %}" alt=""></a></figure>
                                        <div class="ritekhela-blog-view2-text">
                                            <h2>Farewell Celibration</h2>
                                            <time datetime="2008-02-14 20:00">April 01, 2019 1:80 am</time>
                                        </div>
                                    </li>
                                    <li class="col-md-6">
                                        <figure style="width:160px; height:85px;"><a href="{% url 'Club:reception' %}"><img  src="{% static 'extra-images/reception.jpg' %}" alt=""></a></figure>
                                        <div class="ritekhela-blog-view2-text">
                                            <h2>Marriage reception Celibration</h2>
                                            <time datetime="2008-02-14 20:00">May 01, 2019 9:50 am</time>
                                        </div>
                                    </li>
                                    <li class="col-md-6">
                                        <figure style="width:160px; height:85px;"><a href="{% url 'Club:party' %}"><img src="{% static 'extra-images/holi.jpg' %}" alt=""></a></figure>
                                        <div class="ritekhela-blog-view2-text">
                                            <h2>Festival party Celibration</h2>
                                            <time datetime="2008-02-14 20:00">Jan 01, 2019 3:10 am</time>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--// Latest Blog's //-->






                            <!--// Fancy Title Two //-->
                            <div class="ritekhela-fancy-title-two">
                                <h2>Club Media</h2>
                            </div>
                            <!--// Fancy Title Two //-->

                            <!--// Gallery //-->
                            <div class="ritekhela-gallery ritekhela-gallery-view1">
                                <ul class="row">
                                    <li class="col-md-4" >
                                        <figure>
                                            <a data-fancybox-group="group" href="{% static 'extra-images/main2.jpg' %}" class="fancybox"><img src="{% static 'extra-images/main2.jpg' %}" alt=""> <i class="fa fa-plus ritekhela-bgcolor"></i> </a>
                                        </figure>
                                        <h2>Main building</h2>
                                    </li>
                                    <li class="col-md-4">
                                        <figure>
                                            <a data-fancybox-group="group" href="{% static 'extra-images/gym.jpg' %}" class="fancybox"><img src="{% static 'extra-images/gym.jpg' %}" alt=""> <i class="fa fa-plus ritekhela-bgcolor"></i> </a>
                                        </figure>
                                        <h2>Gym</h2>
                                    </li>
                                    <li class="col-md-4">
                                        <figure>
                                            <a data-fancybox-group="group" href="{% static 'extra-images/tennis.jpg' %}" class="fancybox"><img src="{% static 'extra-images/tennis.jpg' %}" alt=""> <i class="fa fa-plus ritekhela-bgcolor"></i> </a>
                                        </figure>
                                        <h2>Tennis court</h2>
                                    </li>
                                    <li class="col-md-4">
                                        <figure>
                                            <a data-fancybox-group="group" href="{% static 'extra-images/pool.jpg' %}" class="fancybox"><img src="{% static 'extra-images/pool.jpg' %}" alt=""> <i class="fa fa-plus ritekhela-bgcolor"></i> </a>
                                        </figure>
                                        <h2>Swimming pool</h2>
                                    </li>
                                    <li class="col-md-4">
                                        <figure>
                                            <a data-fancybox-group="group" href="{% static 'extra-images/basketbal.jpg' %}" class="fancybox"><img src="{% static 'extra-images/basketbal.jpg' %}" alt=""> <i class="fa fa-plus ritekhela-bgcolor"></i> </a>
                                        </figure>
                                        <h2>Basket-ball court</h2>
                                    </li>
                                    <li class="col-md-4">
                                        <figure>
                                            <a data-fancybox-group="group" href="{% static 'extra-images/garden.jpg' %}" class="fancybox"><img src="{% static 'extra-images/garden.jpg' %}" alt=""> <i class="fa fa-plus ritekhela-bgcolor"></i> </a>
                                        </figure>
                                        <h2>Garden</h2>
                                    </li>
                                </ul>
                            </div>
                            <!--// Gallery //-->

                        </div>
                        <!--// Left Section //-->

                        <!--// SideBaar //-->
                        <aside class="col-md-4">


                            <!--// Widget Social Media //-->
                            <div class="widget widget_social_media">
                                <div class="ritekhela-fancy-title-two">
                                    <h2>Social Media</h2>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                            <span>2,035</span>
                                            <small>Subscribers</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="fb">
                                            <i class="fab fa-facebook-f"></i>
                                            <span>3,794</span>
                                            <small>Fans</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="g_plus">
                                            <i class="fab fa-google-plus-g"></i>
                                            <span>941</span>
                                            <small>Followers</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="you_tube">
                                            <i class="fab fa-youtube"></i>
                                            <span>7,820</span>
                                            <small>Subscribers</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fab fa-twitter"></i>
                                            <span>1,562</span>
                                            <small>Followers</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="pint">
                                            <i class="fab fa-linkedin"></i>
                                            <span>1,310</span>
                                            <small>Followers</small>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--// Widget Social Media //-->

                            <!--// Widget Newsletter //-->
                            <div class="widget widget_newsletter">
                                <div class="ritekhela-fancy-title-two">
                                    <h2>Our Newsletter</h2>
                                </div>
                                <form>
                                    <label>Subscribe Now</label>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada ante.</p>
                                    <input type="text" value="Your Name" onblur="if(this.value == '') { this.value ='Your Name'; }" onfocus="if(this.value =='Your Name') { this.value = ''; }">
                                    <input type="text" value="Enter Your email" onblur="if(this.value == '') { this.value ='Enter Your email'; }" onfocus="if(this.value =='Enter Your email') { this.value = ''; }">
                                    <input type="submit" value="Subscribe Now">
                                </form>
                            </div>
                            <!--// Widget Newsletter //-->


                        </aside>
                        <!--// SideBaar //-->

                    </div>
                </div>
            </div>
            <!--// Main Section //-->

        </div>
        <!--// Content //-->

{% endblock %}