{% extends 'header_footer.html' %}
{% load static %}
{% block 'content' %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
        </div>
        <div class="col-md-6">
            <img src="{% static 'extra-images/holi.jpg' %}">
        </div>
        <div class="col-md-6">
            <div class="container">
                <h2> <b> FESTIVAL PARTY CELIBRATION </b></h2>
                <br>
                <h4> Lorem ipsum dolor sit met, con etur adipiscing elit. Ut c males ante. </h4>
                <br>
                <h4> Date: Jan 01, 2019 </h4>
                <br>
                <h4> Time: 3:10 am</h4>
            </div>
        </div>
    </div>
    <br>

</div>


{% endblock %}